@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply p-10 bg-red-500;
}
.btn2 {
    @apply absolute right-1 m-5
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}
